<% unless user_signed_in? %>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <a class="navbar-brand color_animation"><%= t "foody" %></a>
          <a class= "anngon"><%= t "anngon" %></a>
        </div>
        <div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav main-nav  clear navbar-right ">
              <li><a class="navactive color_animation" href="#top">
                <%= t "trangchu" %>
              </a></li>
              <li><a class="color_animation" href="#tinhnang">
                <%= t "tinhnang" %>
              </a></li>
              <li><a class="color_animation" href="#monan">
                <%= t "monan" %>
              </a></li>
              <li><a class="color_animation" href="#lienhe">
                <%= t "lienhe" %>
              </a></li>
            </ul>
         </div>
        </div>
      </div>
    </div>
  </nav>
  <%= render "layouts/top" %>
  <%= render "layouts/tinhnang" %>
  <%= render "layouts/monan" %>
  <%= render "layouts/lienhe" %>
  <%= render "layouts/footer" %>
<% else %>
  <%= render "layouts/header" %>
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><h3><%= t "mucmonan" %></h3></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="col-md-9">
        <div class="row">
          <h2><%= t "monan_noibat" %></h2>
          <div class="item-gallery">
            <% @products.each do |product| %>
              <%= render "products/item", product: product %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <h2><%= t "monmoi" %></h2>
          <div class="item-gallery">
            <% @products.each do |product| %>
              <%= render "products/item", product: product %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render "orders/order_modal" %>
  </div>
  <%= render "layouts/footer" %>
<% end %>
