<div class="item">
  <a href="<%= product_path product %>">
    <%= image_tag "" %>
  </a>
  <div class="desc"><%= product.name %><br><%= product.price %> VND </div>
  <div class="buttons-item">
    <button class="btn btn-primary"><%= t "themgiohang" %></button>
    <button class="btn btn-primary"
      data-toggle="modal" data-target="#item-order">
      <%= t "dathang" %>
    </button>
  </div>
</div>
