<%= render "layouts/header" %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "", class: "img-rounded product-avatar" %>
        </div>
        <div class="col-md-8">
          <dl>
            <dt>
              <h2><%= @product.name %></h2>
            </dt>
            <dd>
              <%= @product.description %>
            </dd>
            <dt>
              <h4><%= t "giaban" %></h4>
            </dt>
            <dd>
              <h4><%= @product.price %> VND</h4>
            </dd>
          </dl>
          <button type="button" class="btn btn-lg btn-primary">
            <%= t "themgiohang" %>
          </button>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-12 well">
              <div class="comment-list">
                <% @comments = @product.comments %>
                  <h3 class="comment-count">
                    <%= t "binhluan" %>(<%= @comments.count %>)
                  </h3>
                  <% @comments.each do |comment| %>
                  <%= render "comments/item", comment: comment %>
                <% end %>
              </div>
              <div class="comment-area">
                <%= form_for current_user.comments.build, remote: true,
                  url: comments_path do |f| %>
                  <div class="form-group">
                    <%= f.hidden_field :product_id, value: @product.id %>
                    <%= f.label :content %>
                    <%= f.text_area :content, class: "form-control content-area", rows: 5,
                      placeholder: t("nhapbinhluan") %>
                  </div>
                  <div class="form-group">
                    <%= f.submit t("dangbinhluan"), class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
