<footer class="sub_footer">
  <div class="container">
    <div class="col-md-4">
      <p class="sub-footer-text text-center">&copy;
        <%= t "content_footer_1" %>
        <a href="https://themewagon.com/"><%= t "theme" %></a>
      </p>
    </div>
    <div class="col-md-4">
      <p class="sub-footer-text text-center">
        <%= t "backto" %>
        <a href="#top"><%= t "top" %></a>
      </p>
    </div>
    <div class="col-md-4">
      <p class="sub-footer-text text-center">
        <%= t "content_footer_2" %>
        <a href="http://uet.vnu.edu.vn/" target="_blank">
          <%= t "ueter" %>
        </a>
      </p>
    </div>
  </div>
</footer>
