<section class="social_connect" id = "lienhe">
  <div class="text-content container">
    <div class="col-md-6">
      <span class="social_heading"><%= t "follow" %></span>
      <ul class="social_icons">
        <ul class="follow_icon">
          <li>
            <a href="https://www.facebook.com/kham.luong.2412">
              <%= image_tag "fb.png" %>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/u/0/112644524404355822587">
              <%= image_tag "googleplus.png" %>
            </a>
          </li>
        </ul>
      </ul>
    </div>
    <div class="col-md-4">
      <span class="social_heading"><%= t "lienhe" %></span>
      <span>
        <li><a class="lienhe"><%= t "kham" %></a></li>
        <li><a class="lienhe"><%= t "nang" %></a></li>
      </span>
    </div>
  </div>
  <div>
    <iframe class= "map" src="https://goo.gl/AEQ8iF"
      frameborder="0"  allowfullscreen>
    </iframe>
  </div>
</section>
