<section id="tinhnang" class="description_content">
  <div class="beer background_content">
    <h1 class= "pacifico"><%= t "tinhnang" %></h1>
  </div>
  <div class="text-content container">
    <div class="col-md-5">
      <div class="img-section">
        <%= image_tag "beer_spec.jpg", class: "width" %>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <a class = "tinhnang"><%= t "timkiem" %></a>
      <div class="icon-beer fa-2x"></div>
      <p class="desc-text"><%= t "content_timkiem" %></p>
    </div>
  </div>
  <div class="text-content container">
    <div class="col-md-6">
      <a class = "tinhnang"><%= t "dathang" %></a>
      <div class="icon-bread fa-2x"><%= t "content_dathang" %></div>
    </div>
    <div class="col-md-5">
      <div class="img-section">
        <%= image_tag "beer_spec.jpg", class: "width" %>
      </div>
    </div>
  </div>
  <div class="text-content container">
    <div class="col-md-5">
      <div class="img-section">
        <%= image_tag "beer_spec.jpg", class: "width" %>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <a class = "tinhnang"><%= t "danhgia" %></a>
      <div class="icon-beer fa-2x"></div>
        <p class="desc-text"><%= t "content_danhgia" %></p>
    </div>
  </div>
</section>
